.custom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-card .card-title {
  width: 80%;
}

.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
